
	<!-- <aside>
		<p>Categories</p>
		<ul>
			<li><a href="#">Development</a></li>
			<li><a href="#">Design</a></li>
			<li><a href="#">Learning</a></li>
			<li><a href="#">Resources</a></li>
			<li><a href="#">Random Thoughts</a></li>
		</ul>
	</aside> -->

	<article>
		<% @posts.each do |post| %>
		<p class="date"><%= post.created_at.localtime.strftime("%B, %-d %Y") %></p>
		<div class="post">
			<h1><%= post.title %></h1>
			<% if post.image.present? %>
				<%= image_tag "#{post.image}", {:height => 350} %>
			<% end %>
			<!-- <img src="assets/sample.jpg"> -->
			<p><%= post.post.truncate(300) %> <%= link_to "read more", post_url(post.id) %></p>
		</div>
		<hr>
		<br>
		<br>
		<% end %>
	</article>
	<%= paginate @posts %>