<!DOCTYPE html>
<html>
<head>
  <title>PersonalBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
<body>
	<header>
		<img src="assets/logo_new.png", class="logo">
		<nav>
			<ul>
				<li><%= link_to "Blog", root_url %></li>
				<li><%= link_to "About", about_url %></li>
				<li><a href="https://github.com/dxypher">GitHub</a></li>				
				<li><%= link_to "Contact", contact_url %></li>
			</ul>
		</nav>
	</header>
	
	<%= yield %>

	<footer>
		<p>&copy; Nikhil<span class="last_name">Hira</span></p>
		<% if session[:uid].present? %>
			<%= link_to "Logout", logout_url %>
			<%= link_to "Admin Panel", admin_url %>
		<% else %>
			<%= link_to "Admin Login", login_url %>
		<% end %>
	</footer>

</body>
</div>
</html>
